.container {
    width: var(--container-width);
    padding: 30px;
}

.align-left {
    text-align: left;
}

.btn {
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 16px;
    width: 100%;
}

.btn__progress {
    margin: 0;
    text-transform: capitalize;
}

.btn__progress img {
    /* height: 20px; */
    display: inline;
    vertical-align: middle;
}
