.container {
    width: var(--container-width);
    height: var(--container-height);
    position: relative;
    padding: 30px;
}

.container--center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container__auto-dismiss-counter {
    bottom: 0;
    height: 8px;
    position: absolute;
    background-color: mediumpurple;
    animation: count 5000ms linear forwards;
}

@keyframes count {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
